<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Sign-up Page">
    <meta name="author" content="Julian Smith">
    <title>Signup</title>
  </head>
  <body>
    <!--Navigation Bar-->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/">Portfolios</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <% if user_signed_in? %>
            <li class="nav-item">
              <a class="nav-link" href="/users/sign_out" data-method="Delete" data-confirm="Are you sure?">Sign-out</a>
            </li>
          <% else %>
            <li class="nav-item">
              <a class="nav-link" href="/users/sign_in">Sign-in</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/sign_up">Sign-up</a>
            </li>
          <% end %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Useful Links</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="/projects">Projects</a>
              <a class="dropdown-item" href="https://github.com/JulesVerne22/cs3300">GitHub</a>
              <a class="dropdown-item" href="/about">About Us</a>
            </div>
          </li>
        </ul>
        <!-- <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->
      </div>
    </nav>

    <br>
    <br>
    <br>
    <br>
    <br>
    <body class="text-center">
      <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div class="actions">
          <%= f.submit "Sign up" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </body>

    <br>
    <br>
    <br>

    <!--Footer-->
    <footer class="container"></footer>
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col-md-4">
            <p>&copy; Julian Inc. 2022-Present</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
